<%= form_for(@membre) do |f| %>

  <% if @membre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membre.errors.count, "error") %> prohibited this membre from being saved:</h2>

      <ul>
      <% @membre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :pseudo %>:
    <%= f.text_field :pseudo %>
  </div>
  <div>
    <%= f.label :email %>:
    <%= f.text_field :email %>
  </div>
  <div>
    <%= f.label :passwd, 'Mot de passe' %>:
    <%= f.password_field :passwd %>
  </div>
  <div>
    <%= f.label :passwd_confirmation, 'Confirmation' %>:
    <%= f.password_field :passwd_confirmation %>
  </div>
  <div>
    <%= f.submit 'Deviens un vanneur !' %>
  </div>
  
<% end %>