<%= form_for @membre, :html => {:class => ("form-horizontal well" unless defined? condensed)} do |f| %>

    <% if @membre.errors.any? %>
      <div id="error_explanation">
	<h2>Whoops !! Il y a quelques problèmes ...</h2>

	<ul>
	<% @membre.errors.each do |field, msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :pseudo, :class => "control-label"  unless defined? condensed %>
      <div class="controls">
	<%= f.text_field :pseudo, :placeholder => "Pseudo" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :email, :class => "control-label"  unless defined? condensed %>
      <div class="controls">
	<%= f.text_field :email, :placeholder => "Email" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :passwd, 'Mot de passe', :class => "control-label"  unless defined? condensed %>
      <div class="controls">
	<%= f.password_field :passwd, :placeholder => "Mot de passe" %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :passwd_confirmation, 'Confirmation', :class => "control-label"  unless defined? condensed %>
      <div class="controls">
	<%= f.password_field :passwd_confirmation, :placeholder => "Confirmation" %>
      </div>
    </div>
    
    <%= f.submit params[:action] == 'edit' ? 'Mettre à jour' : 'Deviens un vanneur !', :class => "btn btn-primary" %>
    
<% end %>
