<div class="page-header">
  <h1>Modifier le profil de <%= link_to @membre.pseudo, @membre %></h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <h2>Informations personnelles</h2>
    
    <%= render 'form' %>
    
    <hr />
    
    <h2>Supprimer mon compte</h2>
    
    <%= link_to @membre, :confirm => 'Attention ! La suppression de ton compte est une décision irréversible. Tes vannes seront cependant conservées sous le nom \'Anonymous\'. Es-tu sûr de vouloir continuer ?', :method => :delete, :class => "btn btn-danger" do %><i class="icon-trash icon-white"></i> Oui je suis prêt à commettre l'irréparable !!<% end %>
  </div>
  
  
  <div class="span6">
    <h2>Modifier mon avatar</h2>
    
    <div class="row-fluid">
      <div class="span4">
	<%= link_to image_tag("avatar.png", :alt => @membre.pseudo), @membre, :class => "thumbnail" %>
      </div>
      <div class="span8">
	<%= form_tag({:action => :edit}, :multipart => true, :class => "well") do %>
	  <label for="avatar">Choisis ta nouvelle tête : 
	    <%= file_field_tag 'avatar' %>
	  </label>
	  
	  <%= submit_tag 'Change de tête !', :class => "btn btn-primary", :id => "avatar-submit-button" %>
	<% end %>
      </div>
    </div>
    
    <hr />
    
    <h2>Réseaux sociaux</h2>
      <%= form_tag(membre_path(@membre), :method => :put, :class => "well") do %>
	  <label for="facebook">Pseudo Facebook <small>(tu peux le trouver sur ta page Facebook : http://www.facebook.com/ton.nom.facebook)</small>
	    <%= text_field_tag :facebook, @membre.facebook, :placeholder => "jean.dupont" %>
	  </label>
	  
	  <label for="facebook">Pseudo Twitter <small>(sans le @)</small>
	    <%= text_field_tag :twitter, @membre.twitter, :placeholder => "jeandupont" %>
	  </label>
	  
	  <%= submit_tag 'Mettre à jour', :class => "btn btn-primary" %>
	<% end %>
  </div>
</div>


