<h1>Listing membres</h1>

<table>
  <tr>
    <th>Pseudo</th>
    <th>Passwd</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @membres.each do |membre| %>
  <tr>
    <td><%= membre.pseudo %></td>
    <td><%= membre.passwd %></td>
    <td><%= link_to 'Show', membre %></td>
    <td><%= link_to 'Edit', edit_membre_path(membre) %></td>
    <td><%= link_to 'Destroy', membre, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Membre', new_membre_path %> | <%= link_to 'Vannes', vannes_path %>
