<div class="row-fluid">
  <div class="span2" style="margin-top:18px">
    <%= image_tag @membre.get_avatar_url, :alt => @membre.pseudo, :width => 100, :class => "thumbnail" %>
  </div>

  <div class="span10">
    <div class="page-header">
      <h1><%= @membre.pseudo %> <small><%= @membre.vannes.where("valide = ?",true).count %> vannes - <%= @membre.lols_count %> lols</small></h1>
    </div>
    
    <p>
      <% if @membre.facebook && @membre.facebook != "" %>
	<%= link_to "http://www.facebook.com/"+@membre.facebook, :class => "btn btn-small btn-facebook" do %><i class="icon-facebook"></i> Facebook<% end %>
      <% end %>
      
      <% if @membre.twitter && @membre.twitter != "" %>
	<%= link_to "http://www.twitter.com/"+@membre.twitter, :class => "btn btn-small btn-twitter" do %><i class="icon-twitter"></i> Twitter<% end %>
      <% end %>
    </p>
  </div>
</div>


<div class="tabbable" style="margin-top:20px">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Ses dernières</a></li>
    <li><a href="#tab2" data-toggle="tab">Ses meilleures</a></li>
    <li><a href="#tab3" data-toggle="tab">Ses préférées</a></li>
  </ul>
  
  
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% if @vannes_last.count == 0  %>
	<div class="alert alert-error">Aucune vanne postée :(</div>
      <% else %>
	<% @vannes_last.each do |v| %>
	  <%= render :partial => 'vannes/vanne', :locals => {:vanne => v} %>
	<% end %>
      <% end %>
    </div>
    
    
    <div class="tab-pane" id="tab2">
      <% if @vannes_best.count == 0  %>
	<div class="alert alert-error">Aucune vanne postée :(</div>
      <% else %>
	<% @vannes_best.each do |v| %>
	  <%= render :partial => 'vannes/vanne', :locals => {:vanne => v} %>
	<% end %>
      <% end %>
    </div>
    
    
    <div class="tab-pane" id="tab3">
      <% if @lols.count == 0 %>
	<div class="alert alert-error">Aucune vanne lolée :(</div>
      <% else %>
	<% @lols.each do |l| %>
	  <%= render :partial => 'vannes/vanne', :locals => {:vanne => l.vanne} %>
	<% end %>
      <% end %>
    </div>
  </div>
</div>
