<div class="page-header">
  <h1><%= @membre.pseudo %> <small><%= @membre.vannes_count %> vannes - <%= @membre.lols_count %> lols</small></h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Ses dernières</a></li>
    <li><a href="#tab2" data-toggle="tab">Ses meilleures</a></li>
    <li><a href="#tab3" data-toggle="tab">Ses préférées</a></li>
  </ul>
  
  
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% if @vannes_last.count == 0  %>
	<div class="alert alert-error">Aucune vanne postée :(</div>
      <% else %>
	<% @vannes_last.each do |v| %>
	  <%= render :partial => 'vannes/vanne', :locals => {:vanne => v} %>
	<% end %>
      <% end %>
    </div>
    
    
    <div class="tab-pane" id="tab2">
      <% if @vannes_best.count == 0  %>
	<div class="alert alert-error">Aucune vanne postée :(</div>
      <% else %>
	<% @vannes_best.each do |v| %>
	  <%= render :partial => 'vannes/vanne', :locals => {:vanne => v} %>
	<% end %>
      <% end %>
    </div>
    
    
    <div class="tab-pane" id="tab3">
      <% if @lols.count == 0 %>
	<div class="alert alert-error">Aucune vanne lolée :(</div>
      <% else %>
	<% @lols.each do |l| %>
	  <%= render :partial => 'vannes/vanne', :locals => {:vanne => l.vanne} %>
	<% end %>
      <% end %>
    </div>
  </div>
</div>
