<div class="page-header">
  <h1><%= @membre.pseudo %> <small><%= @membre.vannes_count %> vannes - <%= @membre.lols_count %> lols</small></h1>
</div>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Ses dernières</a></li>
    <li><a href="#tab2" data-toggle="tab">Ses meilleures</a></li>
    <li><a href="#tab3" data-toggle="tab">Ses préférées</a></li>
  </ul>
  
  
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @vannes_last.each do |v| %>
	<%= render :partial => "vannes/vanne", :locals => {:vanne => v} %>
      <% end %>
    </div>
    
    
    <div class="tab-pane" id="tab2">
      <% @vannes_best.each do |v| %>
	<%= render :partial => "vannes/vanne", :locals => {:vanne => v} %>
      <% end %>
    </div>
    
    
    <div class="tab-pane" id="tab3">
      <% @lols.each do |l| %>
	<%= render :partial => "vannes/vanne", :locals => {:vanne => l.vanne} %>
      <% end %>
    </div>
  </div>
</div>