<div id="main_frame">

<h2>Profil de <%= @membre.pseudo %></h2>

<h3>Ses vannes</h3>

<% @vannes.each do |vanne| %>
  <%= render :partial => 'vannes/vanne', :locals => {:vanne => vanne} %>
<% end %>

<% if @current_membre && (@membre == @current_membre  ||  @current_membre.admin?) %>
  <p><%= link_to 'Editer mon profil', edit_membre_path(@membre) %> | <%= link_to 'Supprimer mon compte', @membre, :confirm => "Attention ! La suppression d'un compte est une opération irréversible ! Elle entraine aussi la suppression de toutes les vannes et de tous les lols associés à ce compte. Bref, il vaut mieux cliquer sur Annuler ...", :method => :delete %></p>
<% end %>

<% if @current_membre && @current_membre.admin? 
  if @membre.admin %>
  <p><%= link_to 'Retirer admin', membre_path(@membre, :admin => "no"), :method => :put %></p>
<% else %>
  <p><%= link_to 'Rendre admin', membre_path(@membre, :admin => "yes"), :method => :put %></p>
<% end
end %>

</div>