<div id="main_frame">

<h2>Profil de <%= @membre.pseudo %></h2>

<p id="notice"><%= notice %></p>


<h3>Ses vannes</h3>

<% @vannes.each do |vanne| %>
  <%= render :partial => 'vannes/vanne', :locals => {:vanne => vanne} %>
<% end %>

<% if @membre == @current_membre  ||  @current_membre.admin? %>
  <p><%= link_to 'Editer mon profil', edit_membre_path(@membre) %></p>
<% end %>

<% if @current_membre.admin? 
  if @membre.admin %>
  <p><%= link_to 'Retirer admin', membre_path(@membre, :admin => "no"), :method => :put %></p>
<% else %>
  <p><%= link_to 'Rendre admin', membre_path(@membre, :admin => "yes"), :method => :put %></p>
<% end
end %>

</div>