<%= form_for(@vanne) do |f| %>
  <% if @vanne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vanne.errors.count, "error") %> prohibited this vanne from being saved:</h2>

      <ul>
      <% @vanne.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contenu %><br />
    <%= f.text_area :contenu %>
  </div>
  <div class="field">
    <%= f.label :membre_id %><br />
    <%= f.number_field :membre_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
