<% modal = modal || false 
@vanne = @vanne || Vanne.new %>

<%= form_for(@vanne) do |f| %>
  <% if modal %><div class="modal-body"><% end %>
  
    <% if @vanne.errors.any? %>
      <div id="error_explanation">
	<h2>Whoops !! Il y a quelques problèmes ...</h2>

	<ul>
	<% @vanne.errors.each do |field, msg| %>
	  <li><%= msg %></li>
	<% end %>
	</ul>
      </div>
    <% end %>
    
    <% if not (@current_membre && @current_membre.vannes.count > 5) %>
      <p>
	Avant de poster pour la première fois, prend le temps de <%= link_to 'lire quelques conseils', about_path %> pour écrire la meilleure vanne possible !
      </p>
    <% end %>

    <div class="field">
      <%= f.text_area :contenu, :rows => 5, :placeholder => "Entre ta vanne ici !!" %>
    </div>
  <% if modal %></div><% end %>
  
  <div class="action <%= 'modal-footer' if modal %>">
    <%= f.submit 'Poste ta vanne', :class => "btn btn-primary" %>
  </div>
<% end %>
