<%= form_for(@vanne) do |f| %>
  <% if @vanne.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vanne.errors.count, "error") %> prohibited this vanne from being saved:</h2>

      <ul>
      <% @vanne.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :contenu, :rows => 5, :placeholder => "Entre ta vanne ici !!" %>
  </div>
  <div class="actions">
    <%= f.submit 'Poste ta vanne' %>
  </div>
<% end %>
