<div class="row-fluid">
  <div class="span4">
  <div class="well">
    <%= form_tag vannes_path, :method => :get, :id => "nav-vannes" do %>
    
    <h3>Tri</h3>
    <label class="radio">
      <%= radio_button_tag :order, "last", ((not params[:order]) || params[:order] == 'last') %> Les dernières
    </label>
    <label class="radio">
      <%= radio_button_tag :order, "rand", (params[:order] == 'rand') %> Aléatoire
    </label>
    <label class="radio">
      <%= radio_button_tag :order, "best", (params[:order] == 'best') %> Les meilleures
    </label>
  
    <h3>Rechercher</h3>
    <%= text_field_tag :q, params[:q], :placeholder => 'Rechercher parmi les vannes ...', :class => "search-query" %>
    
    <!-- TODO !! 
    <h3>Tags</h3>-->
    
    <h3>Niveau de lolitude</h3>
    <label class="radio">
      <%= radio_button_tag :lolitude, "0", (params[:lolitude] == '0') %> Bof (moins de 10 lols)
    </label>
    <label class="radio">
      <%= radio_button_tag :lolitude, "1", (params[:lolitude] == '1') %> Mouef (entre 10 et 20 lols)
    </label>
    <label class="radio">
      <%= radio_button_tag :lolitude, "2", (params[:lolitude] == '2') %> Pas mal (entre 20 et 30 lols)
    </label>
    <label class="radio">
      <%= radio_button_tag :lolitude, "3", (params[:lolitude] == '3') %> Cool (entre 30 et 40 lols)
    </label>
    <label class="radio">
      <%= radio_button_tag :lolitude, "4", (params[:lolitude] == '4') %> Bien marrante (entre 40 et 50 lols)
    </label>
    <label class="radio">
      <%= radio_button_tag :lolitude, "5", (params[:lolitude] == '5') %> Enormissime (plus de 50 lols)
    </label>
    <label class="radio">
      <%= radio_button_tag :lolitude, "", ((not params[:lolitude]) || params[:lolitude] == '') %> Je veux tout voir !!
    </label>
    
    <h3>Options</h3>
    <label class="checkbox">
      <%= check_box_tag :ultimate, "1", (params[:ultimate] == '1') %> Uniquement les ultimates
    </label>
    
    <!--TODO !!
    Auteur-->
    
    <% end %>
  </div>
  </div>
  
  
  
  <div class="span8">

    <% if params[:order]
	case params[:order]
	  when 'best' %>
	    <div class="page-header">
	      <h1>Lol of Fame <small>Les meilleures de tous les temps</small></h1>
	    </div>
	  <% when 'rand' %>
	    <div class="page-header">
	      <h1>Random Vanne <small>Des vannes, au hasard</small></h1>
	    </div>
	  <% when 'last' %>
	    <div class="page-header">
	      <h1>Direct-vannes <small>Les dernières vannes postées</small></h1>
	    </div>
	  <% end 
	elsif params[:q] != "" %>
	  <div class="page-header">
	    <h1>Rechercher <small>Moteur de recherche n°1 pour les vannes françaises</small></h1>
	  </div>
	<% end %>
	

    <% if @vannes.count == 0  %>

      <div class="alert alert-error">Aucune vanne trouvée :(</div>
      
    <% else %>

      <% @vannes.each do |v| %>
	<%= render :partial => 'vanne', :locals => {:vanne => v} %>
      <% end %>
      
      <div id="plus_vannes" style="text-align:center;">
	<%= link_to 'Encore plus de vannes ...', vannes_path(params.update(:page => params[:page].to_i + 1)), :remote => true, :class => "btn btn-large" %>
      </div>

    <% end %>

    
  </div>
</div>

