<div id="main_frame">

<h2>Rechercher</h2>

<p>
  A la recherche de la vanne parfaite ? Essayez notre moteur de recherche révolutionnaire, n°1 mondial des blagues commençant par <em>C'est un mec</em> !!
</p>

<%= form_tag search_vannes_path do %>
  <%= label_tag :q, "Votre recherche :" %>
  <%= text_field_tag :q, params[:q], :size => 70 %><br />
  <%= submit_tag "Trouve des vannes !" %>
<% end %>


<% if @vannes %>
  <% if @vannes.any? %>
    </div>
    <% @vannes.each do |vanne| %>
      <%= render :partial => 'vanne', :locals => {:vanne => vanne} %>
    <% end %>

      <% if @vannes.count == 10 %>
      <div id="plus_vannes_scroll">
	<span style="color:rgb(250,250,200)">Seuls les 10 premiers résultats sont affichés.</span>
      </div>
      <% end %>
  <% else %>
    <p>
      Aucune vanne ne correspond à votre recherche :( <br />
      Mais vous pouvez toujours <%= link_to 'écrire la votre', vannes_url %> !
    </p>
    </div>
  <% end %>
<% end %>

