<%= render :partial => 'vanne', :locals => {:vanne => @vanne} %>

<% if @vanne.lols_count > 0 %>
  <strong>Ils ont LOLé :</strong>
  <% @vanne.lols.each do |l| %>
    <%= link_to l.membre.pseudo, l.membre %> 
  <% end %>
<% end %>

<% if @current_membre && @current_membre.admin %>
  <hr />
  <h2>Admninistration</h2>
  <p>
    <%= link_to 'Rendre ultimate', vanne_validation_path(@vanne, :ultimate => (not @vanne.ultimate)), :method => :post %><br />
    <%= link_to 'Modifier cette vanne', edit_vanne_path(@vanne) %><br />
    <%= link_to 'Supprimer cette vanne', @vanne, :method => :delete, :confirm => "Etes vous sur de vouloir supprimer cette vanne ?" %>
  </p>
<% end %>