<div id="main_frame">

<h2>
  <%= @feedback.email %> 
  <% if @feedback.membre_id %>
    (<%= link_to @feedback.membre.pseudo, @feedback.membre %>)
  <% end %>
</h2>

<p>
  <%= @feedback.message %>
</p>

<p>
  <%= link_to 'Marquer comme non lu', @feedback, :method => :put %> | 
  <%= link_to 'Supprimer', @feedback, :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to 'Retour', feedbacks_path %>
</p>

</div>