<%= image_tag "logo100.png", :alt => "Logo de C'est un mec", :class => "pull-right" %>

<div class="page-header">
  <h1>A propos de <em>C'est un mec</em></h1>
</div>


<div class="row-fluid">
  <div class="span7">
    <h2>La genèse du site</h2>
    
    <p style="text-align:justify">
      <em>C'est un mec</em> est un site créé début 2012 par un jeune étudiant à l'humour incompris. Après avoir vu le merveilleux film <em><%= link_to 'Astérix : Mission Cléopatre', 'http://www.allocine.fr/film/fichefilm_gen_cfilm=28537.html' %></em>, il compris rapidement que son destin était de répandre le plus largement possible l'humour décapant de <%= link_to 'Jamel Debbouze', 'http://www.jameldebbouze.fr/' %>, dont la meilleure blague est incontestablement : <em><%= link_to "« C'est un mec, il s'appelle On et il a un phare, c'est le pharaon !! »", 'http://www.youtube.com/watch?v=_NXogl4Oaa4' %></em>. <br />
      La simplicité et l'efficacité de cette blague deviennent clairement à ses yeux une arme de vannification massive. Très vite, il invente ses premières blagues inspirées du chef d'œuvre Debouzien, tout en essayant de rallier ses connaissances à sa cause humouristique. 
    </p>
  </div>
  
  <div class="span5">
    <div class="thumbnail" style="margin-bottom:10px">
      <%= image_tag "film_pharaon.jpg", :alt => "Jamel Debbouze dans Astérix : Mission Cléopatre", :style => "width:100%;" %>
      <div class="caption">
	« C'est un mec, il s'appelle On et il a un phare, c'est le pharaon !! »
      </div>
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span7">
    <h2>La théorie de la vanne parfaite</h2>

    <p style="text-align:justify">
      Voici quelques éléments théoriques indispensables pour réaliser une bonne vanne :
    </p>
    <ul style="text-align:justify">
      <li>La vanne doit évidemment commencer par <em>« C'est un mec, il s'appelle ... »</em>. On pourra adopter la variante <em>« C'est une fille, elle s'appelle ... »</em> uniquement si le prénom l'impose.</li>
      <li>Le prénom qui suit doit être dans l'idéal un prénom existant. On tolère cependant assez bien des prénoms exotiques, voire carrément inédits.</li>
      <li>De même, on s'efforcera de trouver un objet existant, bien que là encore, une certaine liberté soit accordée aux vanneurs.</li>
      <li>La conclusion est un mot (ou une expression) composée comme suit : <em>[objet] + à + [prénom]</em>. Ce mot doit par contre absolument exister !! C'est la chute de la vanne, alors pas question d'en faire quelque chose de médiocre.</li>
      <li>De manière générale, on s'efforcera de se cantoner au politiquement correct. De plus, un minimum d'humour est exigible (par exemple, les <em>sacs à main</em> et autres <em>cuillières à soupe</em> sont à proscrire).</li>
      <li>Enfin, la seule règle d'or : <strong>si ça vous fait rire, postez la</strong> !!</li>
    </ul>
    <p style="text-align:justify">
      En résumé, voilà l'anatomie d'une vanne réussie :<br />
      <div style="font-family:'Comic Sans MS';align:center;padding-bottom:20px;">C'est un mec, il s'appelle [prénom] et il a un [objet], c'est le [objet + à + prénom] !!</div>
    </p>
  </div>

  <div class="span5">
    <div class="thumbnail">
      <%= image_tag "film_otis.jpg", :alt => "Otis dans Astérix : Mission Cléopatre", :style => "width:100%;" %>
      <div class="caption">
	« Vous savez, moi je ne crois pas qu'il y ait de bonne ou de mauvaise vanne. »
      </div>
    </div>
  </div>
</div>


<div class="row-fluid">
  <div class="span7">
    <h2>L'échelle de la vannitude</h2>

    <p style="text-align:justify">
      Une question a longtemps turlupiné les scientifiques : <em>Comment évaluer la vannitude d'une vanne ?</em> C'est après de longs mois de recherche qu'il réussit à mettre au point une échelle permettant de restituer assez fidèlement l'effet que peut théoriquement produire une vanne donnée chez un individu <em>Lambda</em>. On l'appelle <em>l'échelle de la vannitude</em> : 
    </p>
    <ul style="text-align:justify">
      <li><strong>L'Ultimate Vanne</strong> : c'est la meilleure, on ne peut pas faire mieux, mais c'est aussi la plus exigente ! En effet il faut réunir les conditions suivantes : le prénom doit exister, l'objet doit exister, le genre (masculin/féminin) de la conclusion doit être le même que celui de l'objet. <br /><em>Effet produit : Lambda sourit, puis se rend compte que la vanne est ultimement drôle, alors il applaudit.</em></li>
      <li><strong>La Perfect Vanne</strong> : on a frôlé l'ultimitude, mais manque de chance, le genre ne colle pas. Ca reste cependant un niveau d'exigence élevé : le prénom et l'objet doivent exister. <br /><em>Effet produit : Lambda sourit, puis se rend compte que quelque chose cloche dans le genre, alors il le fait remarquer au lieu d'applaudir.</em></li>
      <li><strong>La Good Vanne</strong> : fini les sommets de la vannitude, là ça commence à clocher grave ! Avantage non négligeable toutefois, c'est un niveau de vanne très accessible : le prénom OU l'objet doit exister. <br /><em>Effet produit : Lambda rétorque d'un air dédaigneux que le prénom/objet en question n'existe pas.</em></li>
      <li><strong>La Casual Vanne</strong> : dur de rire à une <em>Casual Vanne</em>, mais ça arrive, sans qu'on comprenne bien pourquoi le plus souvent. Là il n'y a même plus de conditions tellement c'est moyen ! <br /><em>Effet produit : Lambda attend bêtement la suite car il n'a pas compris que la vanne était finie. Parfois il demande de la répéter (mais c'est que vous êtes tombé sur un Lambda plutôt sympa).</em></li>
      <li><strong>La Bad Vanne</strong> : personne n'a jamais ri à une <em>Bad Vanne</em>, parce que ce n'est jamais drôle. Non seulement rien n'existe, mais en plus ça triche en utilisant une feinte du genre <em>« C'est un mec, il a pas de nom ... »</em> ou <em>« C'est un mec, il a rien ... »</em>. Bref, à proscrire ! <br /><em>Effet produit : Lambda ... euh ... Damned ! Lambda est parti !!</em></li>
    </ul>
  </div>

  <div class="span5">
    <div class="thumbnail">
      <%= image_tag "film_rire.jpg", :alt => "Fou rire dans Astérix : Mission Cléopatre", :style => "width:100%;" %>
      <div class="caption">
	Effet produit par une Ultimate Vanne.
      </div>
    </div>
  </div>
</div>
