<!DOCTYPE html>
<html lang="fr">
<head>
  <title><%= @titre + " - " if @titre %>C'est un mec</title>
  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :rss, vannes_url(:format => :rss) %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  
  <% if params[:controller] == 'vannes' && params[:action] == 'show' %>
    <meta property="og:title" content="<%= @vanne.contenu %>" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="C&#039;est un mec" />
    <meta property="og:url" content="<%= vanne_url @vanne %>" />
    <meta property="fb:admins" content="1600170985" />
    <meta property="og:description"
          content="Posté <%= @vanne.created_at.strftime("le %d/%m/%Y à %H:%M") %> par <%= @vanne.membre.pseudo %> sur C'est un mec, le site numéro 1 des blagues commençant par c'est un mec !!" />
  <% end %>
  
  <% if params[:controller] == 'home' %>
    <meta property="og:title" content="C'est un mec" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="C&#039;est un mec" />
    <meta property="og:url" content="<%= root_url %>"/>
    <meta property="fb:admins" content="1600170985" />
    <meta property="og:description" content="C'est un mec, le site numéro 1 des blagues commençant par c'est un mec !!"/>
    <meta property="og:image" content="<%= root_url + image_path('logo.png') %>" />
  <% end %>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= ENV['ANALYTICS_CODE'] %>']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<div id="fb-root"></div>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </a>
    
      <%= link_to "C'est un mec", root_url, :class => "brand" %>
      
      <div class="nav-collapse">
	<ul class="nav">
	  <li class="<%= 'active' if params[:controller] == "home" %>"><%= link_to "Accueil", root_url %></li>
	  <li class="<%= 'active' if params[:order] == "last" %>"><%= link_to 'Les dernières', vannes_url(:order => 'last') %></li>
	  <li class="<%= 'active' if params[:order] == "rand" %>"><%= link_to 'Les aléatoires', vannes_url(:order => 'rand') %></li>
	  <li class="<%= 'active' if params[:order] == "best" %>"><%= link_to 'Les meilleures', vannes_url(:order => 'best') %></li>
	</ul>
	  
	<%= form_tag vannes_path, :method => :get, :class => "navbar-search pull-left" do %>
	  <%= text_field_tag :q, params[:q], :placeholder => 'Rechercher parmi les vannes ...', :class => "search-query" %><br />
	<% end %>
	
	
	<ul class="nav pull-right">
	<% if @current_membre %>
	  <li class="dropdown">
	    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag @current_membre.get_avatar_url, :alt => @current_membre.pseudo, :style => "max-width:20px;max-height:20px;" %> <%= @current_membre.pseudo %><b class="caret"></b></a>
	    <ul class="dropdown-menu">
	      <li><%= link_to membre_path(@current_membre) do %>
		<i class="icon-user"></i> Mon profil
	      <% end %></li>
	      
	      <li><%= link_to edit_membre_path(@current_membre) do %>
		<i class="icon-pencil"></i> Modifier mon profil
	      <% end %></li>
	      
	      <li class="divider"></li>
	      
	      <% if @current_membre.admin %>
		<li><%= link_to validation_vannes_path do %>
		  <i class="icon-ok-circle"></i> Validation <span class="badge pull-right"><%= Vanne.where("valide = ?",false).count.to_s %></span>
		  <% end %>
		</li>
		
		<li><%= link_to feedbacks_path do %>
		  <i class="icon-exclamation-sign"></i> Feedback <span class="badge pull-right"><%= Feedback.where("lu = ?",false).count.to_s %></span>
		  <% end %>
		</li>
		
		<li class="divider"></li>
	      <% end %>
	      
	      <li><%= link_to logout_url, :method => :delete do %>
		<i class="icon-off"></i> Déconnexion
	      <% end %></li>
	    </ul>
	  </li>
	  
	  <li><div>
	    <%= link_to new_vanne_path, :class => "btn btn-primary", :rel => "tooltip", :title => "Ecrire une nouvelle vanne", :data => { :placement => 'bottom', :toggle => 'modal', :target => '#new_vanne_form' }  do %><i class="icon-pencil icon-white"></i> <span class="visible-phone">Poster une vanne</span><% end %>
	  </div></li>
	
	<% else %>
	
	<li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Connexion<b class="caret"></b></a>
	  <ul class="dropdown-menu">
	    <%= render :partial => "sessions/form", :locals => {:condensed => true} %>
	    
	    <script>$('.dropdown-menu').find('form').click(function (e) {  e.stopPropagation(); });</script>
	  </ul>
	</li>
	    
	<% end %>
	</ul>
       </div>
    </div>
  </div>
</div>

<div class="container-fluid">

<% if @current_membre %>
<div class="modal hide fade" id="new_vanne_form">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Nouvelle vanne</h3>
  </div>
  
  <%= render :partial => "vannes/form", :locals => { :modal => true } %>
</div>
<% end %>


<%= link_to new_feedback_path, :class => "feedback-button btn btn-warning btn-large hidden-phone", :data => { :toggle => 'modal', :target => '#new_feedback_form' } do %><i class="icon-exclamation-sign icon-white"></i> Feedback <% end %>

<div class="modal hide fade" id="new_feedback_form">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">&times;</button>
    <h3>Question, remarque, émotion ?</h3>
  </div>
  
  <%= render :partial => "feedbacks/form", :locals => { :modal => true } %>
</div>


  <div class="alert-container">
  <% if flash[:notice] %>
    <div class="alert alert-success in">
      <a class="close">×</a>
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:error] %>
    <div class="alert alert-error in">
      <a class="close">×</a>
      <%= flash[:alert] %>
    </div>
  <% end %>
  </div>



  <%= yield %>


  
</div>

<footer>
  <p class="pull-right"><a href="#" id="scroll_to_top">Retour en haut</a></p>
  
  <p>
    <%= link_to "https://www.facebook.com/cestunmec", :class => "btn btn-mini btn-facebook" do %><i class="icon-facebook"></i> Facebook<% end %>
    <%= link_to "http://www.twitter.com/cestunmec", :class => "btn btn-mini btn-twitter" do %><i class="icon-twitter"></i> Twitter<% end %>
    <%= link_to vannes_path(:format => :rss), :class => "btn btn-mini btn-rss" do %><i class="icon-rss"></i> RSS<% end %>
    <%= link_to new_feedback_path, :class => "btn btn-mini" do %><i class="icon-envelope"></i> Contact<% end %>
  </p>
  
  <p>
    Site réalisé par <a href="http://twitter.com/allegrem">@allegrem</a>. Tous droits réservés. <br />
    Propulsé par <a href="http://rubyonrails.org/">Ruby on Rails</a> et <a href="http://twitter.github.com/bootstrap/">Bootstrap Twitter</a>. <br />
    Icones de <a href="http://glyphicons.com">Glyphicons Free</a>, sous licence <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
  </p>
</footer>

</body>
</html>
