<!DOCTYPE html>
<html>
<head>
  <title>C'est un mec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1><%= link_to "C'est un mec,", "/" %></h1>
il s'appelle On, et il a un phare, c'est le Pharaon !
</header>

<nav>
<%= link_to 'Les dernières', root_url %> | Les buzzantes | Les meilleures | Rechercher
</nav>

<%= yield %>

<footer id="main_footer">
  <h3><%= link_to 'Les Vannes', root_url %></h3>
  <p>
    <%= link_to 'Les dernières', root_url %><br />
    Les buzzantes <br />
    Les meilleures <br />
    Rechercher
  </p>
  
  <h3><%= link_to 'Communauté', membres_path %></h3>
  <p>
    <% if session[:membre_id] %>
    Connecté en tant que <%= link_to @current_membre.pseudo, @current_membre %> <br />
    <%= link_to 'Modifier mon profil', edit_membre_path(@current_membre) %> <br />
    <%= link_to 'Déconnexion', logout_url, :method => :delete %> <br />
    <% else %>
    <%= link_to 'Connexion', login_url %> <br />
    <%= link_to 'Inscription', new_membre_path %> <br /> <br />
    <% end %>
    <br /> 
  </p>
  
  <h3><%= link_to 'Suivez-nous', followus_url %></h3>
  <p>
    Facebook <br />
    Twitter <br />
    Google + <br />
    Flux RSS <br />
  </p>
  
  <h3><%= link_to 'Le site', about_url %></h3>
  <p>
    <%= link_to 'Ils parlent de nous', presse_url %><br />
    <%= link_to 'Contact', contact_url %><br /> 
    <%= link_to 'Fork me on GitHub', "https://github.com/allegrem/cestunmec" %> <br />
    Version mobile
  </p>
</footer>

</body>
</html>
