<!DOCTYPE html>
<html>
<head>
  <title>C'est un mec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<h1><%= link_to "C'est un mec,", "/" %></h1>
il s'appelle On, et il a un phare, c'est le Pharaon !
</header>

<nav>
Les dernières | Les buzzantes | Les meilleures 
</nav>

<%= yield %>

<footer id="main_footer">
  <h3>Les Vannes</h3>
  <p>
    Les dernières <br />
    Les buzzantes <br />
    Les meilleures <br />
    Rechercher
  </p>
  
  <h3>Mon compte</h3>
  <p>
    Connexion <br />
    <%= link_to 'Inscription', new_membre_path %> <br /> 
    <%= link_to 'Membres', membres_path %> <br /> <br />
  </p>
  
  <h3>Le site</h3>
  <p>
    Facebook <br />
    Twitter <br />
    Version mobile <br /> <br />
  </p>
  
  <h3>Contact</h3>
  <p>
    L'équipe du site <br />
    Contact <br /> 
    <%= link_to 'Fork me on GitHub', "https://github.com/allegrem/cestunmec" %> <br />
  </p>
</footer>

</body>
</html>
