<!DOCTYPE html>
<html>
<head>
  <title>C'est un mec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<a href="http://github.com/allegrem/cestunmec"><img style="position: absolute; top: 20px; left: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/c641758e06304bc53ae7f633269018169e7e5851/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f77686974655f6666666666662e706e67" alt="Fork me on GitHub"></a>



<nav id="login_box">
  <span style="float:left">
    Déjà <%= link_to Vanne.count.to_s + ' vannes postées', vannes_url %> et <%= link_to Membre.count.to_s + ' vanneurs', membres_path %> !! 
  </span>
  <span style="float:right; padding-right:25px">
    <% if session[:membre_id] %>
      <strong>Salut, <%= link_to @current_membre.pseudo, @current_membre %> ! </strong> 
      <% if @current_membre.admin %>
	<%= link_to 'Validation', vannes_path(:order => :validation) %> | 
      <% end %>
      <%= link_to 'Modifier mon profil', edit_membre_path(@current_membre) %> | 
      <%= link_to 'Déconnexion', logout_url, :method => :delete %>
    <% else %>
      <%= link_to 'Connexion', login_url %> | 
      <%= link_to 'Inscription', new_membre_path %> 
    <% end %>
  </span>
</nav>



<header>
  <h1><%= link_to "C'est un mec,", "/" %></h1>
  il s'appelle On, et il a un phare, c'est le Pharaon !
</header>



<nav>
  <%= link_to 'Les dernières', vannes_url %> | 
  <%= link_to 'Les buzzantes', vannes_url(:order => 'buzz') %> | 
  <%= link_to 'Les meilleures', vannes_url(:order => 'best') %> | 
  <%= link_to 'Rechercher', search_vannes_path %>
</nav>



<%= yield %>



<footer id="main_footer">
  <h3><%= link_to 'Les Vannes', vannes_url %></h3>
  <p>
    <%= link_to 'Les dernières', vannes_url %><br />
    <%= link_to 'Les buzzantes', vannes_url(:order => 'buzz') %><br />
    <%= link_to 'Les meilleures', vannes_url(:order => 'best') %><br />
    <%= link_to 'Rechercher', search_vannes_path %>
  </p>
  
  <h3><%= link_to 'Communauté', membres_path %></h3>
  <p>
    <% if session[:membre_id] %>
    Salut, <%= link_to @current_membre.pseudo, @current_membre %> !<br />
    <%= link_to 'Modifier mon profil', edit_membre_path(@current_membre) %> <br />
    <%= link_to 'Déconnexion', logout_url, :method => :delete %> <br />
    <% else %>
    <%= link_to 'Connexion', login_url %> <br />
    <%= link_to 'Inscription', new_membre_path %> <br /> <br />
    <% end %>
    <br /> 
  </p>
  
  <h3><%= link_to 'Suivez-nous', followus_url %></h3>
  <p>
    Facebook <br />
    Twitter <br />
    Google + <br />
    Flux RSS <br />
  </p>
  
  <h3><%= link_to 'Le site', about_url %></h3>
  <p>
    <%= link_to 'Ils parlent de nous', presse_url %><br />
    <%= link_to 'Contact', contact_url %><br /> 
    <%= link_to image_tag("github.png"), "http://github.com/allegrem/cestunmec" %> <%= link_to 'Fork me on GitHub', "http://github.com/allegrem/cestunmec" %> <br />
  </p>
</footer>

</body>
</html>
